########## Global ##########
**/node_modules/
**/dist/
.vscode/

########## Client ##########
client/.next/
client/.env.*
!client/.env.example

########## Server ##########
server/generated/prisma
server/*.env
!server/.env.example
